<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Funnel+Display:wght@300..800&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <h1 >Welcome to RETRO park!!</h1>
    <div>

        <button class="login">Login</button>
    <button class="signup">signup</button>

    </div>
<br>
    <h3>A place to share your retro experiencs </h3>
    <ul class="loginText">
        <li class="games">Games</li>
        <li class="jokes">Jokes</li>
        <li class="trends">Trends</li>
        <li class="stories">Stories</li>
    </ul>
    </div>
    <script src="function.js"></script>
</body>
</html>