<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Funnel+Display:wght@300..800&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <form action="http://localhost:8080/">
         
       
        <div class="loginContainer">
            <h1>Welcome RETRO HEAD !</h1>
             <h3>please proceed</h3>
            <label for="login"  class="enterUser">Enter Username :</label>
            <input type="text" name="username" id="login" style="width: 70%; align-self: center;">

             <label for="emailid" class="enterEmail">Enter Email :</label>
            <input type="email" name="email" id="emailid" style="width: 70%; align-self: center; ">

             <label for="passcode" class="enterPassword">Enter Password :</label>
            <input type="password" name="password" id="passcode" style="width: 70%; align-self: center;">
            <button style="border-radius: 8px; height:50px ;width:100px" id="loginSubmit">Submit</button>
            
    <h3>Dont have an account !</h3>
    <button id="loginSignup" style="border-radius: 8px; height:50px ;width:100px" >Signup</button>
        </div>
    </form>

    
</body>
</html>