.reset-container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;     
    gap: 25px;              
    padding: 40px;
    /* border: 2px solid #D3D3D3; */
    border-radius: 10px;
    /* background-color: #FAFAD2; Light Goldenrod Yellow */
}

.reset-container h2 {
     font-family: "Bitcount Prop Double Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
    animation:  heading 0.9s ease 0.2s  normal;
}

label{

     font-family: "Bitcount Prop Double Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}
.reset-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reset-container input {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 15px;
}

.reset-btn {
    padding: 12px;
    background: white;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.reset-btn:hover {
        animation: hoverBtn 0.3s ease-in 0.2s infinite  normal ;

}

.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #333;
}

@keyframes hoverBtn {
    
    from{
        background-color:beige;
        box-shadow: 0px 0px 0px ;
        transform: scale(1);
    }
    to{
        background-color: #FAFAD2;
        box-shadow: 6px 6px #4A4A4A;
        transform: scale(1.2);
    }
}

@keyframes heading {
    
    from{

        transform: scale(1);
    }
    to{

        transform: scale(1.7);
    }
}